@font-face {
  font-family: "iconfont"; /* Project id 1833685 */
  src: url('./iconfont/iconfont.woff2?t=1620311702315') format('woff2'),
       url('./iconfont/iconfont.woff?t=1620311702315') format('woff'),
       url('./iconfont/iconfont.ttf?t=1620311702315') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjingdian:before {
  content: "\e602";
}

.iconqianbao:before {
  content: "\e773";
}

.iconguanyu:before {
  content: "\e60e";
}

.iconpinglun:before {
  content: "\e601";
}

.iconyijianfankui:before {
  content: "\e724";
}

.iconhome1:before {
  content: "\e7c7";
}

.iconwode:before {
  content: "\e642";
}

.icondingdan:before {
  content: "\e659";
}

.iconhome:before {
  content: "\e6b5";
}

.iconxingxing:before {
  content: "\e621";
}

.iconxingxing1:before {
  content: "\e870";
}

.iconxiajiantou_huaban:before {
  content: "\e63e";
}

.iconweizhi:before {
  content: "\e60f";
}

.iconyoujiantou:before {
  content: "\e68c";
}

.icontupian:before {
  content: "\e63d";
}

.icontishi:before {
  content: "\e658";
}

.iconjiantou1:before {
  content: "\e612";
}

.iconfanhui:before {
  content: "\e624";
}

.iconsousuo:before {
  content: "\e632";
}

